<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Supermercado </a>
        </li>


      </ul>

      <div class="form-group">
        
        <input type="search" [(ngModel)]="searchText" class="form-control" placeholder="Buscar en Supermercado">
        <span class="glyphicon glyphicon-search"></span>
      </div>

<!-- *ngFor="let producto of carrito"-->
      <ul (click)=mostrar() class="nav navbar-nav navbar-right">
        <li>
          
        
          <span class="badge">3</span>
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    
        </li>  
         <li><!--{{producto.precio}}--></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- {{producto|json}}-->
<div class="container">
<div class="row">
 
    <div *ngFor="let producto of productos | filter: searchText" class="thumbnail col-sm-4">
  
      <!--Recoge el porcentaje calculado -->

      <!--Una vez consigamos el porcentaje con muchos decimales lo redondeamos para que se pueda ver mas claro -->
      
      <span class="badge" *ngIf="producto.descuento">{{((producto.precio/producto.oferta)-1)*100 | redondear}}  %</span> <!--Forma de Calcular ((precioviejo/precionuevo)-1) *100  -->
      <img src="{{producto.imagen}}" alt="{{producto.nombre}}">
      <div class="caption">
       

        <p> <span [ngClass]="producto.oferta>0 ? 'PrecioTachado' : 'precio'">{{producto.precio}} €</span>
          <span id="oferta" *ngIf="producto.oferta>0">{{producto.oferta}} €</span> <!--Si la oferta es mayor que cero aparece en pantalla si nos no aparece -->
        </p>
        <p id="descripcion">({{producto.descripcion}})</p>
        <p id="nombre">{{producto.nombre}}</p>

<!--Se agrega la cantidad que quieres con la funcion de sumar -->
<div class="sumaresta">
    
  <button (click)="restar(producto)">-</button>
{{producto.cantidad}}
<button  (click)="sumar(producto)">+</button>

</div>
      
        <p>
          <a href="#" class="btn btn-success" role="button" (click)="agregarCarrito(producto)">Añadir al carro</a>
        </p>
      </div>
    </div>
  </div>
</div>

